<section class="carrito-container">

    <h2>Pedido realizado</h2>
    <p>Gracias por tu compra. Tu pedido está en proceso.</p>

    <a href="/Home" class="btn-enviar">Volver al inicio</a>

</section>